.back-logo {
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
}

ion-content {
    height: 85%;
}

img {
    height: 400px;
}

.login {
    background-color: #33CD1E!important;
}

.register {
    background-color: #166B0A;
}