<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-button color="danger" routerLink="/dashboard" class="close-button">Close</ion-button>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding *ngIf="userProfile != null">
    <form #form="ngForm" (ngSubmit)="editProfile(form)" method="put">
        <ion-item>
            <ion-label position="floating">Nick Name: </ion-label>
            <ion-input ngModel name="nickName" placeholder="{{userProfile.nickName}}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">First Name: </ion-label>
            <ion-input ngModel name="firstName" placeholder="{{userProfile.firstName}}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Last Name: </ion-label>
            <ion-input ngModel name="lastName" placeholder="{{userProfile.lastName}}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Email: </ion-label>
            <ion-input ngModel name="email" placeholder="{{userProfile.email}}"></ion-input>
        </ion-item>
    
      <ion-item>
        <ion-label position="floating">User Type: </ion-label>
        <ion-select #S position="floating" (ionChange)="onChange(S.value)" ngModel name="UserType">
            <ion-select-option  *ngFor="let userType of getUserTypes()"  [value]="userType">{{userType}}</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <ion-button type="submit" expand="full" class="create" color="#166B0A">Edit Profile</ion-button>
    </form>
</ion-content>

