<ion-header>
  <ion-toolbar>
    <ion-title>user-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="userProfile != null">
    <form #form="ngForm" (ngSubmit)="editProfile(form)" method="put">
        <ion-item>
            <ion-label position="floating">Nick Name: </ion-label>
            <ion-input ngModel name="nickName" value="{{userProfile.nickName}}">{{userProfile.nickName}}</ion-input>
        </ion-item>
      <ion-item>
          <ion-label position="floating">Description: </ion-label>
          <ion-input ngModel name="Description"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Price: </ion-label>
        <ion-input ngModel name="Price"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Category: </ion-label>
        <ion-select #S position="floating" (ionChange)="onChange(S.value)" ngModel name="Category">
            <ion-select-option  *ngFor="let category of categories"  [value]="category.categoryId">{{category.categoryName}}</ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <ion-button type="submit" expand="full" class="create" color="#166B0A">Create Product</ion-button>
    </form>
</ion-content>

