<ion-header>
  <ion-toolbar>
      <ion-button color="danger" routerLink="/dashboard" class="close-button">Close</ion-button>
    <ion-title *ngIf="product">{{product.productName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="product">
          <ion-img src="../../../../assets/img/default.jpg"></ion-img>
          <p>Page for {{product.productName}}</p>
          <p>{{product.productDescription}}</p>
          <br>
          <p><b>{{product.productPrice}} €</b></p>

</ion-content>
