<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <br>
  <div *ngIf="token != undefined">
    <ion-grid>
      <ion-row *ngIf="category">
        <ion-col *ngFor="let product of category.Products" col-6 no-padding>
          <ion-card-header>
            {{product.productName}}
          </ion-card-header>
          <ion-card-content class="fixline">
            This is the space where should be an image.
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
