<ion-header>
  <ion-toolbar>
      <ion-button color="danger" routerLink="/dashboard" class="close-button">Close</ion-button>
    <ion-title>Manage Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let user of this.users">
        <ion-item *ngIf="user.userType != 'Administrator'">
          <ion-label>{{user.nickName}}</ion-label>
          <ion-label>{{user.userType}}</ion-label>
          <ion-label (click)="deleteUser(user.id)">X</ion-label>
        </ion-item>
      </ion-list>
</ion-content>