<ion-header>
  <ion-toolbar>
      <ion-button color="danger" routerLink="/dashboard" class="close-button">Close</ion-button>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
          <ion-img src="../../../../assets/img/creator.jpg"></ion-img>
          <br>
          <p>
          
          Welcome to SmintBuster! I am Sergio and I'm the owner of this project. I'm a young programmer who is worried
          about the environment and reciclying. I studied Software Development and I'm currently working as a QA in a 
          Norwegian company.
          </p>
          <br>
          <p>
            This application has been created with an only goal: to facilitate the release of overproduction that companies 
            generte from day to day. In this way, companies will cut their losses and customers and users will get quality products 
            at a reduced price. In addiiton, besides the commitment with people, there is also a commitment with the environment, and ultimately,
            the Earth, reinforcing a concious and ethic green revolution.</p>
          <p>Contact email: <a href="#">info@smintbuster.com</a></p>
</ion-content>
