.fixline {
    height: 60px;
    margin-bottom: 7px;
    cursor: pointer;
}

ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
}

.category-block {
    margin-bottom: 4px;
}

ion-button{
    background-color: #166B0A!important;
}

.category-banner {
    border-left: 8px solid #166B0A;
    background: rgb(154, 247, 142);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}

ion-fab-button[data-desc] {
    position: relative;
  }

  #circle {
      background-color: #166B0A;
  }
  
  ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    z-index: 1;
    right: 55px;
    bottom: 4px;
    background-color: #166B0A;
    padding: 9px;
    border-radius: 15px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
  }