<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>SERGIO'S ONLINE SHOP</h1>
  <br>
  <div *ngIf="user != undefined">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let category of categories" col-6 no-padding>
          <ion-card-header>
            {{category.categoryName}}
          </ion-card-header>
          <ion-card-content class="fixline" routerLink="/category/{{category.categoryId}}">
            This is the space where should be an image.
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>